body {
  background-image: url('http://www.pandorasupholstery.co.uk/products_pictures/Green%20G.JPG');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 75px;
  color: white;
  text-shadow: 10px 5px 20px black;
  text-align: center;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  color: white;
  text-shadow: 10px 5px 20px black;
  text-align: center;	
}

#myHand{
	width: 1050px;
  	height: 350px;
  	float: right;
  	clear: both; 
}

#dealerHand{
	width: 1050px;
  	height: 350px;
  	float: right;
  	clear: both; 
}

.dealerCard {
	width: 250px;
	height: 350px;
}

h3 {
	color: white;
	display: inline;
	padding-right: 40px
}

#btnDeal {
	float: left;
	padding-right: 100px;
	height: 400px;
	width: 400px;
}

.hitBtn {
	color: white;
	height: 50px;
	width: 150px;
  	background-color: rgb(47,48,52);
  	border-radius: 300px;
}

.standBtn {
	color: white;
	height: 50px;
	width: 150px;
  	background-color: red;
  	border-radius: 300px;
}
